.to-center {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.bold,
strong {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
